<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="css/highlight.css">
	<script src="https://kit.fontawesome.com/2669bb582a.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="header-content">
            <div class="studytask">
                <img src="/images/studytask.png">
            </div>
                <div class="task-button">
                    <p><a href="/index">タスク一覧</a></p>
                </div>
            </div>
        </div>
    </header>
    <h2>ハイライト</h2>
    <div class="highlight">
        <div class="result">
            <% @task_counts.each_with_index do |(list_name, counts), wday| %>
                <div class="day-container">
                    <div class="loads">
                        <% counts.each do |list_name, count| %>
                            <% display_count = {"負荷A" => 3, "負荷B" => 2, "負荷C" => 1}[list_name] * count %>
                            <% display_count.times do %>
                                <div class="load <%= list_name %>"></div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="week">
            <% %w[月 火 水 木 金 土 日].each do |wday_name| %>
                <div class="wday-container">
                    <div class="wday-name"><%= wday_name %></div>
                </div>
            <% end %>
        </div>
        <div class="twitter">
            <p><img class="twitter-icon" src="/images/twitter.png"><a href="">Twitterでつぶやく</a></p>
        </div>
    </div>

    <footer>
    <div class="footer-content">
        <img src="/images/studytask-plus.png">
        <div class="footer-text">
            <p class="footer-link"><a href="/top">このサイトについて</a></p>
            <p class="footer-link"><a href="/signout">ログアウト</a></p>
        </div>
    </div>
</footer>
</body>
</html>
