<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
	<link rel="stylesheet" href="css/highlight.css">
	<script src="https://kit.fontawesome.com/2669bb582a.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
        <div class="header-content">
            <div class="studytask">
                <img src="/images/studytask.png">
            </div>
                <div class="task-button">
                    <p><a href="/index">タスク一覧</a></p>
                </div>
            </div>
        </div>
    </header>
    <h2>ハイライト</h2>
<div class="highlight">
    <div class="result">
    </div>
    <div class="days-container">
        <div class="day">月</div>
        <div class="day">火</div>
        <div class="day">水</div>
        <div class="day">木</div>
        <div class="day">金</div>
        <div class="day">土</div>
        <div class="day">日</div>
    </div>
    <div class="twitter">
        <p><img class="twitter-icon" src="/images/twitter.png"><a href="">Twitterでつぶやく</a></p>
    </div>
</div>
<footer>
    <div class="footer-content">
        <img src="/images/studytask-plus.png">
        <div class="footer-text">
            <p class="footer-link"><a href="/top">このサイトについて</a></p>
            <p class="footer-link"><a href="/signout">ログアウト</a></p>
        </div>
    </div>
</footer>
</body>
</html>