<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>todoアプリ</title>
        <link rel="stylesheet" href="css/style_layout.css">
    </head>
    <body>
        <!--header>
            <-div class="header-container">
                <div class="header-inner">
                    <h1><a href="/">&#x1f4da;StudyTask</a></h1>
                </div>
                <ul>
                </ul>
            </div--!>
        </header>
        <nav>
        </nav>
        <%= yield %>
    </body>
</html>