<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyTask</title>
    <link rel="stylesheet" href="css/style_top.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="studytask">
                <img src="images/studytask.png">
            </div>
            <div class="buttons">
                <div class="login-button">
                    <p><a href="/signin">ログイン</a></p>
                </div>
                <div class="signup-button">
                    <p><a href="/signup">新規登録</a></p>
                </div>
            </div>
        </div>
    </header>
    <div class="task-ex">
        <h2>効率的に勉強のためのタスクを作成</h2>
        <img src="images/task-ex01.png">
        <h2>単語暗記・ワークなどの勉強に関するタスク管理に特化</h2>
        <img src="images/task-ex02.png">
    </div>
</body>
<footer>
    <div class="footer-content">
        <img src="/images/studytask-plus.png">
        <div class="footer-text">
            <p class="footer-link"><a href="/top">このサイトについて</a></p>
            <p class="footer-link"><a href="/signout">ログアウト</a></p>
        </div>
    </div>
</footer>
</html>