* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background: rgba(217, 217, 217, 0.30);
}

a {
    text-decoration:none;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studytask {
    display: flex;
    align-items: center;
    justify-content: center;
}

.studytask img {
    width: 250px;
    height: auto;
    margin-left: 40px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background: #67ADFF;
    margin: 25px 10px;
}

.signin-button:hover {
    background: #4fa1ff;
}

.signin-button p {
    color: white;
    font-size: 24px;
}

input[name="name"] {
    width: 700px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
    margin: 35px 0 20px 0;
    border:none
}

input[name="password"] {
    width: 700px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 20px;
    border:none
}

input[name="password_confirmation"] {
    width: 700px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 30px;
    border:none
}

input[type="submit"] {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #67ADFF;
    font-size: 24px;
    color: white;
    border: none;
    padding-right: 30px;
}

input[type="submit"]:hover {
    background: #4fa1ff;
}

.signup {
    width: 800px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(217, 217, 217, 0.30);
    align-items:center;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.60);
    font-size: 24px;
}

input {
    padding-left: 30px;
}

h2 {
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    margin-top: 200px;
}

footer {
    margin-top: 300px;
}

.footer-content {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 40px;
}

.footer-text {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 30px;
}

.footer-link {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-link a {
    color: black;
    text-decoration: none;
}

.footer-link:first-child {
    margin-left: 0;
}

footer img {
    width: 350px;
    height: auto;
    margin-left: 40px;
    margin-bottom: 50px;
}

footer {
  margin-top: 1250px; /* Apply to all viewport sizes by default */
}